:root {
    --Primary:#1565C0;
    --PrimaryDark:#0D47A1;
    --Accent:#C62828;
    --AccentDark:#B71C1C;
    --AccentCustom:#43A047;
    --AccentDarkCustom:#2E7D32;
    --Background:#EEEEEE;
    --ContentBGColor:#FFFFFF;
}