html,body{
	margin: 0px;
	background-color: var(--Background);
	height: 100%;
	width: 100%;
    min-height: 100%;
	display: inline-block;
	flex-direction: column;
}

.login_container{
	width: 400px;
	padding: 8% 0 0;
	margin: auto;
}

@media only screen and (max-height: 550px) {
    .login_container {
		padding: 20px 0 0;
    }
}

@media only screen and (max-width: 500px) {
    .login_container {
		width: 100%;
    }
}

.login_icon{
	display: block;
	height: 84px;
	width: 84px;
	margin: 0 auto 25px;
	padding: 0;
	pointer-events: none;
}

.login_box{
	margin-top: 20px;
	margin-left: 0;
	padding: 26px 24px 26px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	color: #72777c;
	line-height: 1.5;
	font-weight: 400;
}

input[type=text], input[type=password]{
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
	color: #32373c;
	outline: 0;
	font-size: 24px;
	width: 100%;
	padding: 3px;
	margin: 2px 6px 16px 0;
	background: #fbfbfb;
}

#login_button{
	float: right;
	background-color: #008CBA;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    height: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#login_button:hover {
    background-color: #007CAA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    color: white;
}

.error_view{
	float: left;
	display: none;
	color: red;
}