.list_element {
	background-color: #fff;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.list_element:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.list_element > .header {
	border-bottom: 1px solid #ddd;
	padding: 12px 10px;
	text-decoration: none;
    font-size: 18px;
    cursor:pointer;
}
.list_element > .content {
	display: none;
	text-decoration: none;
    font-size: 16px;
}
.ItemForm {
	width: 100%;
	border-collapse: collapse;
}

.ItemForm td:nth-child(1){
	background-color: #eee;
	white-space: nowrap;
	width: 50px;
}
.ItemForm td:last-child{
	background-color: #fff;
}

.ItemForm tr,td{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
    font-size: 16px;
    border: 1px solid #ddd;
    height: 42px;
    vertical-align: true;
}
.ItemForm td>input {
	background: #f7f7f7;
	font-size: 14px;
	padding-left: 10px;
	height: 100%;
	width: 100%;
	border: none;
}
.ItemForm td>input[type=file] {
	align-items: center;
	text-align: center !important;
}

.FieldTable {
	width: 100%;
	border-collapse: collapse;
}

.FieldTable tr,td {
	background-color: white;
}

.FieldTable td:nth-child(1){
	width: 120px;
}
.FieldTable td:nth-child(2){
	text-align: center;
	width: 100px;
}
.FieldTable td:nth-child(3){
	padding: 0px;
}

.FieldTable th:nth-child(1){
	width: 120px;
}
.FieldTable th:nth-child(2){
	text-align: center;
	width: 100px;
}

button {
    border: none;
    color: white;
    padding: 12px 15px;
    margin:0px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.removeButton {
	background: var(--Accent);
}
.removeButton:hover {
	background: var(--AccentDark);
}
.saveButton {
	background: var(--AccentCustom);
}
.saveButton:hover {
	background: var(--AccentDarkCustom);
}

.addFieldButton {
	background: var(--Accent);
	padding-left: 10px;
	padding-right: 10px;
}
.addFieldButton:hover {
	background: var(--AccentDark);
}

.removeFieldButton {
	width: 40px;
	background: var(--Accent);
	padding-left: 10px;
	padding-right: 10px;
}
.removeFieldButton:hover {
	background: var(--AccentDark);
}

.emptyField > td {
	padding-left: 10px !important;
}

.empty_view {
	height: calc(100% - 50px);
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
}

@media only screen and (max-width: 500px) {
    .list_element {
    	margin: 10px 0px;
    }
}