/* Item Data */
.ItemForm {
	width: 100%;
	border-collapse: collapse;
}

.ItemForm td:nth-child(1){
	background-color: #eee;
	white-space: nowrap;
	width: 50px;
}
.ItemForm td:last-child{
	background-color: #fff;
}

.ItemForm tr,td{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
    font-size: 16px;
    border: 1px solid #ddd;
    height: 42px;
    vertical-align: true;
}
.ItemForm td>input {
	background: #f7f7f7;
	font-size: 14px;
	padding-left: 10px;
	height: 100%;
	width: 100%;
	border: none;
}
.ItemForm td>input[type=file] {
	align-items: center;
	text-align: center !important;
}

/* Fields */
.FieldTable td:nth-child(1){
	width: 120px;
}
.FieldTable td:nth-child(2){
	text-align: center;
	width: 100px;
}
.FieldTable td:nth-child(3){
	padding: 0px;
}

.FieldTable th:nth-child(1){
	width: 120px;
}
.FieldTable th:nth-child(2){
	text-align: center;
	width: 100px;
}